*{
    margin: 0;
}
body {
    margin: 0;
}

#showcase {
    background-image: url(/images/beach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}



button {
    border-radius: 10px;
    width: 100px;
    height: 50px;
    background: none;
    border-color: white;
    color: rgb(153, 88, 8);
}



button:hover {
    color: rgb(153, 88, 8);
    background-color: white;
}

#section-a{
    background-color: rgb(153, 88, 8);
    color: white;
    padding: 20px;
    text-align: center;
}

#section-b{
    padding:20px; color: rgb(153, 88, 8);
}

#section-c{
   display: flex;
   padding:10px; margin: 5px 0; 
   
   
}
p.color{background-color: rgb(153, 88, 8); color: white;  padding-top: 30px; }
#B{
font-size: large; font-weight: lighter; color: rgb(153, 88, 8)
}
#v{
color: rgb(230, 154, 63); font-weight: bolder; font-size: 50px;
}
#myBtn{
margin-top: 50px;
}
p{
    padding: 10px 50px ;
}
#Q{
    color: rgb(153, 88, 8);
}